* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--verde-paginas);
}


:root {
    --verde-barra: #8BAF83;
    --verde-paginas: #A7C4A1;
    --verde-letras: #31572C;
}

.conteudo {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.conteudo:hover {
    background-color: var(--verde-paginas);
}

.jogos {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.jogos:hover {
    background-color: var(--verde-paginas);
}

.integrantes {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

.integrantes:hover {
    background-color: var(--verde-paginas);
    border-radius: 5px;
}

.ajuda {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.ajuda:hover {
    background-color: var(--verde-paginas);
}

.Login {
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}

.Login img {
    width: 40px;
    height: 40px;
}


button {
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--verde-letras);
    background-color: var(--verde-barra);
}

button:hover {
    background-color: var(--verde-);
    text-decoration: none;
    border-radius: 5px;
}

header button img {
    width: 60px;
}

.bio {
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 10px;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 5px;
}

.bio:hover {
    background-color: var(--verde-paginas);
}

.lupa {
    height: 30px;
    width: 30px;
}

.logo_icone img {
    height: 80px;
    width: 80px;
}

.bio a,
.conteudo a,
.jogos a,
.integrantes a,
.ajuda a {
    color: var(--verde-letras);
    text-decoration: #3B543F;
}

header {
    background-color: var(--verde-barra);
    color: var(--verde-letras);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main {

    text-align: center;
    padding: 50px 20px 67PX;
}

main h1 {
    margin-bottom: 12px;
    padding: 2px;
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: #3A5A40;
}

.search-container {
    padding: 12px 23px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-container input {
    width: 866px;
    padding: 15px;
    font-size: 18px;
    border: 2px solid #3A5A40;
    border-radius: 25px;
    margin: 12px;
}

.search-container input:focus {
    outline: none;
    border-color: #8CAF8C;
}

.search-container .logo_icone {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-container img {
    width: 24px;
    height: 24px;
}

.email {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.email img {
    width: 50px;
    height: 50px;
    margin-right: 1px;
}

.email p {
    font-family: 'Inter', sans-serif;
    color: #3A5A40;
}

.alert-message {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 500px; 
    padding: 20px; 
    background-color: var(--verde-barra); 
    color: var(--verde-letras); 
    border: 1px solid var(--verde-letras); 
    border-radius: 10px; 
    display: none; 
    text-align: center;
    font-size: 18px;
    z-index: 1000; 
}

.alert-message.visible {
    display: block; 
}



@media (max-width: 768px) {

    header button {
        margin: 10px 0;
    }

    .search-container input {
        width: 90%;
    }
}
