:root{
    --verde-barra:#8BAF83;
    --verde-paginas:#A7C4A1;
    --verde-letras:#31572C;
    --branco: #ffffff;
    --cinza-claro: #d3d3d3;
    --branco-fundo:#F6F6E9;
  
  }
  
  body {
    font-family: Playflair Display, regular;
    background-color: var(--verde-paginas);
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
  
    background: linear-gradient(to bottom, #A7C4A1 70%, var(--branco-fundo) 20%);
  }
  
  header {
    background-color: var(--verde-barra);
    color: var(--verde-letras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  
  button:hover {
    background-color: var(--verde-paginas);
    text-decoration: none;
  }
  
  header button.bio {
    font-size: 34px;
 
  }
  
  header button img {
    width: 60px;
  }
  
  .login div img{
    width: 50px;
    height: 50px;
  }
  
  .logo_icone img {
    height: 80px;
    width: 80px;
  }
  
  .bio a, .conteudo a, .jogos a, .integrantes a, .ajuda a, .comecar a  {
      color: var(--verde-letras);
      text-decoration: #3B543F;
  }
 .bio{
  font-weight: bolder;
 }
  
  main {
    padding: 70px 0;
    margin-top: 100px;
  }
  
  .quiz-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
  }
  
  h1 {
     font-family: "Jomhuria", serif;
    color: #3B543F;
    text-align: center;
    font-size: 8em;
    margin-bottom: 100px;
    margin: 1px;
  }
  
  button {
    align-items: center;
    font-family: inter, light;
    text-align: center;
    padding: 8px 24px;
    font-size: 1.3em;
   background-color: var(--verde-barra);
    color: var(--branco-fundo);
    border: none;
    border-radius: 5px;
  }

  button a {
    color: var(--branco);
    text-decoration: none;
  }
  
  .quiz-options {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .option {
    background-color: #F6F6E9;
    width: 100px;
    height: 98px;
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .option:hover {
    transform: translateY(-5px);
  }
  
  .level {
    background-color: #8cc78c;
    padding: 10px 15px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .level span {
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
  }
  
  .option img {
    margin: 1px;
    margin-top: 1px;
    margin-right: 18440px;
    margin-bottom: 12px;
    justify-content: center;
    width: 105px;
    align-items: center;
  }


  
  footer {
    background-color: #8cc78c;
    padding: 20px 0;
    text-align: center;
    color: #fff;
  }
  
  h2{
    text-align: center;
    font-size: 1.2em;
    margin: 3px;
    margin-bottom: 40px;
      font-family: inter, semi bold;
    color: var(--branco-fundo);
    font-weight: 200;
  }