:root {
    --verde-barra: #8BAF83;
    --verde-paginas: #A7C4A1;
    --verde-letras: #31572C;
    --branco-fundo: #F6F6E9;
}

body {
    background-color: var(--verde-paginas);
    font-family: Playfair Display, regular;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header {
    background-color: var(--verde-barra);
    color: var(--verde-letras);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  padding: 10px 50px;
}

header button {
    background-color: transparent;
    border: none;
    color: #3B543F;
    font-size: 18px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
}

.conteudo {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.conteudo:hover {
    background-color: var(--verde-paginas);
}

.jogos {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.jogos:hover {
    background-color: var(--verde-paginas);
}

.integrantes {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.integrantes:hover {
    background-color: var(--verde-paginas);
}

.ajuda {
    background-color: var(--verde-barra);
    border: none;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

.ajuda:hover {
    background-color: var(--verde-paginas);
}

.Login {
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: backgroud-color 0.3s, transform 0.2s;
}

.login:hover {
    background-color: var(--verde-paginas);
}

.Login img {
    width: 40px;
    height: 40px;
}

.bio {
    background-color: var(--verde-barra);
    border: 10px;
    color: var(--verde-letras);
    padding: 10px 10px;
    font-size: 35px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bolder;
}

button:hover {
    background-color: var(--verde-paginas);
}

.logo_icone img {
    height: 80px;
    width: 80px;
}

.bio a,
.conteudo a,
.jogos a,
.integrantes a,
.ajuda a {
    color: var(--verde-letras);
    text-decoration: #3B543F;
}

main {
    padding: 10px 400px 95px;
}

h1 {
    padding: 23px 34px;
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    color: var(--verde-letras);
    text-align: center;
    margin-top: 90px;
}

section {
    background-color: #96b496;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-left: 92px;
    font-size: 30px;
    color: #4d774d;
    margin-bottom: 10px;
    font-weight: bold;
}

section p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #334d33;
}


h1.teia {
    margin-top: 60px;
}

.primeira {
    background-color: #d1f0d1;
}

.segunda {
    background-color: #c7e0c7;
}

.terceira {
    background-color: #b5d0b5;
}

.quarta {
    background-color: #a3c0a3;
}

.quinta {
    background-color: #91b091;
}
